<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Amazon Suite">

	<test name="Amazon Suite">
		<classes>
			<class name="com.qa.testcases.TripAdvisorHomePageTest"></class>
			<class name="com.qa.testcases.TripAdvisorHotelReviewPageTest"></class>
		</classes>
	</test>
</suite>